<ol class="post-list">
    {{#each blogs}}
    <li>
        <article class="post">
            <div>
                <span>Title: {{title}}</span>
            </div>
            <div class="content">
                <span>{{content}}</span>
            </div>
            <div>Blogger: {{User.username}}</div>
            <div>Posted: {{timeStamp created_at}}</div>
            <div>
                <a href="/blog/{{id}}">Comments:{{comments.length}}</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>